*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 14px;
    color: #595758;
    margin: 0 60px;
    background-color: #ffe0e0;
}

#wrapper {
    margin: 0 auto 0 auto;
    width: auto;
    text-align: center;

}
#wrapper a {
    color: crimson;
    font-size: 15px;
    text-decoration: none;
}

#wrapper a:hover{
    color: #e0ffe0;
    text-shadow:0px 0px 0 #0000;
}

#topimage {
    text-align: center;
}

header {
    padding: 10px;
    width: auto;
}

header h1 {
    font-size: 50px;
    font-family: 'Sacramento', cursive;
    text-align: center;
}

header nav ul li {
    list-style: none;
    width: auto;
    height: 22px;
    float: right;
    margin-top: 10px;
}

header nav ul li a {
    color: crimson;
    font-size: 18px;
    text-decoration: none;
}

header nav ul li a:hover{
    color: #e0ffe0;
    text-shadow:0px 0px 0 #0000;
}

.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



#container {
    width: auto;
    height: auto;
    color: #595758;
    text-align: center;

}

#centerpart {
    margin-top: 10px;
    height: 250px;
    text-align: center;
    display: flex;
}

.error {
    color: brown;
}

#leftside {
    margin-top: 10px;
    padding: 1px;
    width: 20%;
    float: left;
}

.sidebox a:hover{
    color: #e0ffe0;
    text-shadow:0px 0px 0 #0000;
}

.sidebox {
    color: crimson;
    border-radius:30px;
    text-align: center;
    border: solid;
    margin: 0.5em;
    border-color: black;
    background-color: #fff4e6;
}

.boxcontent {
    padding: 15px;
}


#mainview {
    margin-top: 10px;
    width: 80%;
    height: auto;
}

.mainbox  {
    border-radius:30px;
    text-align: center;
    border: solid;
    margin: 0.5em;
    border-color: black;
    background-color: #fff4e6;
}

.mainboxcontents {
    font-size: 18px;
}

#entry {
    margin-top: 40px;
    padding: 10px;
    text-decoration: none;
    height: auto;
}

#entry a {
    text-decoration: none;
    color: crimson;
}

footer {
    width: 100%;
    height: auto;
    text-align: center;
}

