*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 14px;
    color: #595758;
    margin: 60px;
    width: auto;
    height: auto;
    background-color: rgb(253, 250, 242);
}

#wrapper {
    margin: 0 auto 0 auto;
    width: auto;
    height: auto;
    text-align: center;
}
#wrapper a {
    color: #595758;
    font-size: 15px;
    text-decoration: none;
}

#wrapper a:hover{
    color: crimson;
    text-shadow:0px 0px 0 #0000;
}

#topimage {
    text-align: center;
}

header {
    padding: 10px;
    width: auto;
}

header h1 {
    font-size: 50px;
    font-family: 'Sacramento', cursive;
    text-align: center;
}

header nav ul li {
    list-style: none;
    width: auto;
    height: 22px;
    float: right;
    margin-top: 10px;
}

header nav ul li a {
    font-size: 18px;
    text-decoration: none;
}

header nav ul li a:hover{
    text-shadow:0px 0px 0 #0000;
}

.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



#container {
    margin-top: 10px;
    width: auto;
    height: auto;
    color: #595758;
    text-align: center;
}

#centerpart {
    margin-top: 10px;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.error {
    color: brown;
}

#leftside {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    width: 80%;
}

#leftside h2 {
    font-family: 'Sacramento', cursive;;
}

#leftside a {
    text-decoration: none;
}

#leftside a:hover{
    text-shadow:0px 0px 0 #0000;
}

.box1 {
    padding: 25px;
    margin: 20px ;
    color: #565656;
    border:solid 2px #595758;
    border-radius: 8px;
    width: 100%;
}

.box1 h4 {
    color: #ff6666;
}
.box1 p {
    margin: 0; 
    padding: 0;
}


.box1 nav ul li {
    list-style: none;
}

.caution {
    font-weight: bold;
    color: red;
}

#rightside {
    margin-top: 10px;
    padding: 10px;

}

.viewpage  {
    text-decoration: none;
    color: crimson;
}

.entry {
    margin-top: 40px;
    padding: 10px;
    text-decoration: none;
}

footer {
    width: 100%;
    height: 60px;
    text-align: center;
}

